<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="/Scripts/GameCore.js"></script>
</head>
<body id="body" onload="setup()">
<h1 id="statusbar"></h1>
	@RenderBody()
</body>
</html>

